#titulo{
    color: teal;
}
p strong{
    color: red;
}
.destacado{
    color: orange;
}
#subtitulo{
    color: blue;
}
p a{
    color: red;
}
p a em{
    color: blue;
}
p .especial{
    color: purple;
}
caption{
    color: blue;
}
.especial{
    color: orange;
}
th{
    color: red;
}
td{
    color: green;
}
td strong{
    color: orange;
}
table{
    border-color: black;
}
#adicional{
    color: olive;
}
p #especial{
    color: fuchsia;
}
#adicional p a{
    color: green;
}