a {
	margin: 1em 0;
	float: left;
	clear: left;
	padding: 2px;
    color:  #CC0000;
}
#segundo:hover{
    background-color: #CC0000 ;
    color: #FFF;
    text-decoration: none;
}
a:visited{
    color: #CCC ;
}